<div class="row" style="min-height: 100vh">
  <div class="col-md-6 col-lg-4 col-12 d-flex justify-content-center align-items-center p-5">
    <div class="">
      <h1 class="mb-5">TAKE YOUR FIRST ONLINE ORDER IN MINUTES</h1>
      <p>SendIT Provides express delivery of documents,parcels, to all the people</p>
    </div>
  </div>
  <div class="col-md-6 col-lg-8 col-12 d-flex justify-content-center align-items-center p-5">
    <div class="">
      <img src="assets/img/swift.png" class="img-fluid" alt="image">
    </div>
  </div>

</div>
<div class="row bg-primary p-5">
  <div class="col-md-4 col-lg-4 col-sm-12 d-flex justify-content-between">
    <p>GET UPDATES ON OFFERS  AND MORE INFO ABOUT SENDIT IN YOUR INBOX</p>
 </div>
  <div class="col-md-4 col-lg-4 col-sm-12 d-flex justify-content-between">
    <p>About Us</p>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-12">
    <p>Terms & Conditions</p>
  </div>
</div>
