<div style="overflow: hidden!important;padding-bottom: 0!important;margin-bottom: 0!important;">
  <div class="row" style="min-height: 100vh;background-image: url('assets/img/sendit back.png')">
    <div class="col-md-6 col-lg-4 col-12 d-flex justify-content-center align-items-center p-5">
      <div class="">
        <h1 class="mb-5 text-center pl-3"style="align-items: center">MAKE YOUR FIRST ONLINE ORDER IN MINUTES</h1>
        <h5 class=" mb-5 text-center" style="font-style: italic">SendIT Provides express delivery of documents,parcels, to all the people</h5>
      </div>
    </div>
    <div class="col-md-6 col-lg-8 col-12 d-flex justify-content-center align-items-center p-5">
      <div class="">
        <img src="assets/back.svg" class="img-fluid" alt="image">
      </div>
    </div>

  </div>
  <div class="row " style="background-color:#1573FC;color: white;">
    <div class="row  p-3" >
      <div class="p-3 col-md-4 col-lg-4 col-sm-12">
        <p style="font-weight: bold">GET UPDATES ON OFFERS  AND MORE INFO ABOUT SENDIT</p>
        <div class="d-flex justify-content-between">
          <span><i class="fab fa-facebook"></i> Facebook</span>
          <span><i class="fab fa-instagram"></i> Instagram</span>
          <span><i class="fab fa-twitter"></i> Twitter</span>
        </div>

      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 text-center">
        <p style="font-weight: bold">About SendIT</p>
        <p>FAQ</p>
        <p>About Us</p>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 text-center">
        <p  style="font-weight: bold">Our Policy</p>
        <p>Terms & Conditions</p>
      </div>
    </div>
    <div class="text-center" style="font-style: italic">
      <p>Copyright &copy; SendIT. All rights reserved</p>
    </div>
  </div>
</div>
