<div class="row" style="min-height: 100vh">
  <div class="container">
    <div class="row w-75 mx-auto">
      <div class="col-md-6 col-lg-4 col-12 d-flex justify-content-center align-items-center p-3">
        <div class="">
          <h3 class="text-center mt-5">Login</h3>
          <div class="p-1">
            <div *ngIf="isLoginError" class="text-danger text-center">
              <i class="fas fa-exclamation-circle"></i> Incorrect username or password
            </div>
            <form  #loginForm="ngForm" class="" (ngSubmit)="OnSubmit(username.value,password.value)">
              <div class="row">
                <div class="form-group col s12 mb-3">
                  <label>Username</label>
                  <input type="text" #username ngModel name="username" class="form-control" placeholder="Username" required>
                </div>
              </div>
              <div class="row">
                <div class="form-group col s12 mb-3">
                  <label>Password</label>
                  <input type="password" #password ngModel name="password"  class="form-control" placeholder="Password" required>
                </div>
              </div>
              <div class="mb-3">
                <div class="justify-content-center">
                  <button [disabled]="!loginForm.valid" class="btn btn-primary btn-block" type="submit">Login</button>
                </div>
              </div>
              <div class="mb-3">
                <p>Don't have an account? <a href="/signup" style="text-decoration: none">Register</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-8 col-12 d-flex justify-content-center align-items-center p-3">
        <div class="">
          <img src="assets/img/login.png" class="img-fluid" alt="image">
        </div>
      </div>
    </div>
  </div>
</div>


